.form {
  display: flex;
  align-items: center;
}

.btn {
  margin-left: 0.3rem;
  font-size: 1rem;
  font-family: "Oswald", "Arial", sans-serif;
  transition: color 0.25s;
}

.active {
  color: #278e20;
}

.btn:hover {
  color: var(--green-color);
}

.loading .btn {
  cursor: default;
  height: 1.5rem;
  width: 2rem;
  background: linear-gradient(-90deg, #e8f5e9 0%, #b2ebf2 50%, #e8f5e9 100%);
  background-size: 200% 100%;
  animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
