.day {
  max-width: 100%;
  margin: 1rem 1rem;
  color: #252525;
}

@media (min-width: 768px) {
  .day {
    max-width: 45%;
  }
}

@media (min-width: 1024px) {
  .day {
    max-width: 20%;
    min-width: 15%;
  }
}

.date-container {
  padding: 0 0.1rem;
  border-bottom: solid 3.5px #3f3d3d;
  display: flex;
  justify-content: space-between;
}

.active {
  color: var(--green-color);
  border-color: var(--green-color);
}

.date {
  margin: 0 0 0.2rem 0;
  font-weight: 800;
}

.weekDay {
  margin: 0 0 0.2rem 0;
  font-weight: 600;
  opacity: 0.5;
}
