.theme {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  box-sizing: content-box;
}

.btn {
  display: block;
}

.btn + .btn {
  margin-left: 0.3rem;
  transform: color 0.25s;
}

.text {
  margin: 0 0.5rem 0 0;
}

.icon {
  width: 1.3rem;
  height: 1.3rem;
}

.btn:hover {
  color: white;
}

.btn:active {
  color: red;
}
